{% extends "base.html.twig" %}
{% block title %}Nos biens{% endblock %}
{% block body %}
<div class="container">
    <h2>Voici nos biens :</h2>
</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>ID</th>
                    <th>Prix</th>
                    <th></th>    
                </tr>
            </thead>
            <tbody>
                {% for property in properties %}
                <tr>
                    <td>{{property.title}}</td>
                    <td>{{property.id}}</td>
                    <td>{{property.formatedPrice}} €</td>
                    <td>
                        <a style='display:inline-block' href="{{ path('property.show' , {id: property.id}) }}" class="btn btn-primary">Voir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}